.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 5px 0.5% !important;
  min-width: 250px;
}

.cases {
  order: 0;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.daily_cases{
  order: 2;
  border-bottom: 10px solid rgba(52, 83, 224, 0.5);
}

.deaths{
  order: 1;
  border-bottom: 10px solid rgba(32, 8, 8, 0.5);
}
.daily_deaths{
  order: 3;
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}